* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(./images/logo.png);
  height: 100vh;
  background-size: cover;
  opacity: 75%;
}

.nav {
  display: flex;
  padding: 2rem 4rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.nav-div1 {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-weight: bold;
  font-size: 22px;
}

.nav-ul {
  display: flex;
  gap: 2rem;
}
.nav-ul li {
  list-style: none;
}
.nav-ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
}
.nav-ul li a:hover {
  color: palevioletred;
  cursor: pointer;
}

h3 {
  color: white;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

#hp {
  color: lightgray;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
}

#header-button {
  color: whitesmoke;
  background: transparent;
  border: 3px solid whitesmoke;
  border-radius: 15px;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
}

#header-button:hover {
  color: palevioletred;
  border: 3px solid palevioletred;
  cursor: pointer;
}

#main {
  background-color: whitesmoke;
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 0 0;
}

.main-sec1 {
  display: flex;
  width: 85%;
  gap: 1.5rem;
  margin: 0 auto;
}
.main-sec1-empty {
  background-image: url(./images/zara.png);
  width: 100%;
  background-size: cover;
  border: 5px solid white;
  border-radius: 10px;
}

.main-sec1-div h3 {
  text-align: start;
  color: black;
  font-size: 38px;
  font-weight: lighter;
  padding-top: 0;
  line-height: 30px;
  letter-spacing: 1px;
}
.main-sec1-div h4 {
  font-weight: 300;
  font-size: 30px;
  padding-bottom: 20px;
}
.main-sec1-div h4 b {
  color: rgb(209, 43, 98);
  font-weight: bold;
  text-transform: uppercase;
}
.main-sec1-div p {
  padding-bottom: 2rem;
  letter-spacing: 0.28px;
  color: gray;
}
.main-sec1-div div {
  display: flex;
  gap: 1rem;
  width: 20%;
  justify-content: space-between;
}
.main-sec1-div div img {
  width: 20%;
}

.main-sec2 {
  margin-bottom: 5rem;
}

.main-sec2-1 {
  margin: 2rem auto;
}
.main-sec2-1 h3 {
  color: black;
  padding-bottom: 0;
  font-size: 48px;
  font-weight: lighter;
}
.main-sec2-1 p {
  text-align: center;
  color: gray;
  letter-spacing: 0.28px;
  line-height: 1.5rem;
}

.main-sec2-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 0.9rem;
       column-gap: 0.9rem;
  row-gap: 2rem;
  width: 85%;
  margin: 0 auto;
}
.main-sec2-2 div {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.main-sec2-2 div h4 {
  font-size: 22px;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid rgba(219, 54, 82, 0.646);
}
.main-sec2-2 div p {
  text-align: center;
  color: gray;
  letter-spacing: 0.28px;
}

.main-sec3 {
  background-color: white;
  text-align: center;
  padding: 4rem;
}
.main-sec3 h3 {
  font-size: 38px;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
  padding-bottom: 2rem;
}
.main-sec3 button {
  color: white;
  text-transform: uppercase;
  background-color: palevioletred;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  font-weight: bold;
}

.main-sec4 {
  text-align: center;
  margin-top: 3rem;
}
.main-sec4 h1 {
  font-weight: bold;
  font-size: 80px;
  color: rgba(219, 54, 82, 0.646);
}
.main-sec4 img {
  width: 5%;
  border: 5px solid white;
  border-radius: 50%;
}
.main-sec4 p:nth-of-type(1) {
  color: gray;
  font-size: 20px;
  margin: 1rem 0;
}
.main-sec4 p:nth-of-type(2) {
  color: gray;
  font-size: 20px;
  margin: 1rem 0;
}
.main-sec4 p:nth-of-type(2) b {
  color: black;
}
.main-sec4 div {
  width: 30%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem auto;
}
.main-sec4 div hr {
  width: 10%;
  background-color: rgba(219, 54, 82, 0.646);
  height: 100%;
}

.main-sec5 {
  background-color: white;
  margin-top: 5rem;
  padding-bottom: 3rem;
  padding-top: 5rem;
  text-align: center;
  color: gray;
  line-height: 1.5rem;
}
.main-sec5 h3 {
  font-size: 38px;
  font-weight: lighter;
  color: black;
}
.main-sec5 nav {
  display: flex;
  justify-content: center;
  margin: 3rem 0 2rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.749);
  font-weight: bold;
  font-size: 16px;
  gap: 2rem;
}
.main-sec5 nav {
  display: flex;
  justify-content: center;
  margin: 3rem 0 2rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.749);
  font-weight: bold;
  font-size: 16px;
  gap: 2rem;
}
.main-sec5 nav p:hover {
  color: white;
  background-color: rgba(219, 54, 82, 0.646);
  padding: 0.6rem;
  border-radius: 10px;
}
.main-sec5 section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: 0 auto;
}
.main-sec5 section img {
  width: 70%;
  height: 70%;
  opacity: 90%;
  border: 5px solid gray;
  border-radius: 10px;
}

.main-sec6 {
  padding-top: 5rem;
  text-align: center;
  color: gray;
  line-height: 1.5rem;
}
.main-sec6 h3 {
  font-size: 38px;
  font-weight: lighter;
  color: black;
}
.main-sec6 section {
  display: flex;
  padding-top: 5rem;
  width: 70%;
  margin: 0 auto;
  gap: 2rem;
}
.main-sec6 section div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.main-sec6 section div img {
  width: 100%;
  height: 40%;
  border: 10px solid white;
  border-radius: 10px;
}
.main-sec6 section div div {
  background-color: white;
  padding: 1rem;
  text-align: start;
  border-radius: 10px;
}
.main-sec6 section div div h4 {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.main-sec6 section div div p:nth-of-type(1) b {
  color: rgba(219, 54, 82, 0.646);
  text-transform: capitalize;
  font-weight: bold;
}
.main-sec6 section div div button:hover {
  cursor: pointer;
}
.main-sec6 section div div button {
  border: none;
  color: black;
  font-weight: bold;
  background-color: transparent;
  text-align: start;
}

.main-sec7 {
  color: gray;
  background-color: white;
  padding-top: 2rem;
}
.main-sec7 h3 {
  font-size: 28px;
  font-weight: light;
  color: black;
}
.main-sec7 p {
  text-align: center;
}
.main-sec7 div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.main-sec7 div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-sec7 div div img {
  width: 25%;
}
.main-sec7 div div h3 {
  font-size: 16px;
  font-weight: bold;
}
.main-sec7 div div a {
  text-decoration: none;
  color: gray;
}
.main-sec7 section {
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
}
.main-sec7 section div input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0;
}
.main-sec7 section input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.main-sec7 section button {
  text-transform: uppercase;
  color: white;
  background-color: rgba(219, 54, 82, 0.646);
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

#footer {
  max-width: 1440px;
  width: 100%;
  margin: 3rem auto 0;
  background-color: black;
  padding-top: 2rem;
  color: gray;
}
#footer div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
#footer div img {
  width: 3%;
}
#footer p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0.7rem 0;
}/*# sourceMappingURL=style.css.map */